*{
    overflow: scroll;
}

html, body {
    height: 100%;
    margin: 0 0 0 0;
    padding: 0;
    position: relative;
    background-image: url(bg5.png);
    background-repeat: no-repeat;
    background-color: #789a97;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
}

/* #overlay{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)); 
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 100%; 
    z-index: 1;
} */

#overlay{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)); 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%; /* Cover entire width of the page */
    height: 100%; /* Cover entire height of the page */
    position: fixed; /* Fixed position so it covers the entire viewport */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    z-index: 1;
}


.row {
    background-color: transparent;
}

.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

#container {
    display: block;
    align-items: center;
    height: 100%;
    overflow: auto;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Styles for phones */
@media (max-width: 768px) {
    /* Adjusting the position of the container */
    #container {
        margin-top: 70px; /* Increase the top margin to move the container up */
    }

    /* Centering and scaling the image container */
    .image-container {
        height: 20vh; /* Adjust the height of the image container */
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; 
    }

    .image-container img {
        position: absolute; /* Set image position to absolute */
        top: 0; /* Position image at the top */
        left: 0; /* Position image at the left */
        justify-items: center;
        align-items: center;
        width: 100%; /* Ensure image fills container width */
        height: auto; /* Maintain aspect ratio */
    }

    /* Adjust z-index to control stacking order */
    .image-container img:first-child {
        z-index: 0; 
        height: 25dvh;
        width: auto;
        position: relative;
    }

    .image-container img:last-child {
        z-index: 1; /* Bring the last image to the bottom */
        height: 12dvh;
        width: auto;
        left: 35%; /* Position the left edge of the second image at the horizontal center of the container */
        transform: translate(-50%); /* Move the second image back by half its width and height to center it */
        position: absolute;
        top: 30%; /* Adjust this value to adjust initial position */
        animation: bounce 1s infinite alternate; /* Adjust timing and animation type as needed */
    }

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-50px); /* Adjust this value to control bounce height */
        }
        }

    /* Centering the login form */
    .card {
        margin: 0 auto; /* Center the login form horizontally */
        max-width: 80%; /* Reduce the maximum width of the login form */
        overflow: scroll;

    }
}


/* Styles for laptops */
@media (min-width: 769px) {
    #overlay {
        background-size: contain;
    }

    .image-container img:last-child {
        height: 30dvh;
        top: 320px;
    }
}
