*{
    overflow: scroll;
}

html, body {
    height: 100%;
    margin: 0 0 0 0;
    padding: 0;
    position: relative;
    background-image: url(bg5.png);
    background-repeat: no-repeat;
    background-color: #789a97;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
}

#overlay{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)); 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%; 
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 1;
}


.row {
    background-color: transparent;
}

.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

#container {
    display: block;
    align-items: center;
    height: 100%;
    overflow: auto;
}


/* Styles for phones */
@media (max-width: 768px) {
    .col-md-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* Adjusting the position of the container */
    #container {
        margin-top: 70px; /* Increase the top margin to move the container up */
    }

    /* Centering and scaling the image container */
    .image-container {
        height: 20vh; /* Adjust the height of the image container */
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; 
    }

    .image-container img {
        position: absolute; 
        top: 0; 
        left: 0; 
        justify-items: center;
        align-items: center;
        width: 100%; 
        height: auto; 
    }

  
    .image-container img:first-child {
        z-index: 0; 
        height: 25dvh;
        width: auto;
        position: relative;
    }

    .image-container img:last-child {
        z-index: 1; 
        height: 12dvh;
        width: auto;
        left: 35%; 
        transform: translate(-50%); 
        position: absolute;
        top: 30%; 
        animation: bounce 1s infinite alternate; 
    }

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-50px); /* Adjust this value to control bounce height */
        }
        }

    /* Centering the login form */
    .card {
        margin: 0 auto; 
        max-width: 80%; 
        overflow: scroll;

    }
}


/* Styles for laptops */
@media (min-width: 769px) {
    .scroll{
        justify-content: center;
        height: 100%;

    }

    #overlay {
        background-size: contain;
    }

    #container {
        margin-top: 70px; 
        display: flex;
        flex-direction: row;
    }

    .col-md-6 {
        display: block;
        flex-direction: row;
        justify-content: center;
    }
    

    .image-container {
        height: 70vh;
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; 
    }

    .image-container img {
        position: absolute; 
        top: 0; 
        left: 0; 
        justify-items: center;
        align-items: center;
        width: 100%; 
        height: auto; 
    }


    .image-container img:first-child {
        z-index: 0; 
        height: 55dvh;
        width: auto;
        position: relative;
    }

    .image-container img:last-child {
        z-index: 1; 
        height: 32dvh;
        width: auto;
        left: 35%; 
        transform: translate(-50%);
        position: absolute;
        top: 30%; 
        animation: bounce 1s infinite alternate; 
    }

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-50px); 
        }
        }

    .card {
        margin: 0 auto; 
        min-width: 100%; 
        overflow: scroll;

    }

    .col-lg-5 {
        flex: none;
        max-width: max-content;
    }
}