@font-face {
    font-family: 'Balonku';
    font-style: normal;
    font-weight: normal;
    src: local('Balonku'), url("BalonkuRegular-la1w\ \(1\).otf") format('opentype');
}

@font-face {
    font-family: 'Motely';
    font-style: normal;
    font-weight: normal;
    src: local('Motely'), url("motley-forces-font/MotleyForcesRegular-w1rZ3.ttf") format('truetype');
}


h4{
    font-family: 'Motely';
    color: rgb(71, 67, 67);
    display: flex;
    justify-content: center;
}

h2{
    font-family: 'Balonku';
    justify-content: center;
    display: flex;
    font-size: 3rem;
    font-weight: 550;
}

@media screen and (max-height: 667px) {
    .image-container{
        display: none;
    }
   
}


@media screen and (max-width: 768px) {
    /* #container{
        margin-top: vh
        margin-bottom 0vh;
    } */

    h1 {
        font-size: 1.8em; /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 1.5em; /* Further adjust font size for even smaller screens */
    }
}


.btn-dark {
    background-color: #4b7b76;
}

.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.card {
    border-radius: 2rem;
}
