{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'quiz/question.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
  </head>
  <body>
    <form action="{% url 'quiz:results' quiz.id %}" method="post">
      {% csrf_token %}
        <fieldset>
          <legend><h1>{{ question.text }}</h1></legend>
          {% if question.question_type == "SIN" %}
            <!-- Radio button answers are posted in the format "question.id=answer.id" -->
            {% for answer in question.answer_set.all %}
              <div class="answer-{{ forloop.counter }}">
                <label class="container1">
                  <input type="radio" name="{{ answer.question.id }}" value="{{ answer.id }}"/>
                  <span class="checkmark1"></span>
                  <label for="{{ answer.question.id }}">{{ answer.text }}</label><br>
                </label>
              </div>
            {% endfor %}
          {% else %}
            <!-- Checkbox answers are posted in the format "question.id-[answer index]=answer.id" -->
            {% for answer in question.answer_set.all %}
              <div class="answer-{{ forloop.counter }}">
                <label class="container2">
                  <input type="checkbox" name="{{ answer.question.id }}-{{ forloop.counter }}" value="{{ answer.id }}"/>
                  <span class="checkmark2"></span>
                  <label for="{{ answer.question.id }}-{{ forloop.counter }}">{{ answer.text }}</label><br>
                </label>
              </div>
              {% endfor %}
          {% endif %}
        </fieldset>
        {% if is_last_question %}
          <input type="submit" value="Results &rarr;"/>
          </div>
          </form>
        {% else %}
          </div>
          </form>
          <button class="button" onclick="window.location.href='{{ next_url }}';">Next &rarr;</button>
        {% endif %}
  </body>
</html>