{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'quiz/start.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
  </head>
  <body>
    <h1>{{ quiz.title }}</h1>
    <!-- COULD HAVE topic tags system with assigned colours -->
    {% if quiz.topics %}
        <h2>Topics: {{ quiz.topics }}</h2>
    {% endif %}        
    <p>This quiz has {{ quiz.question_set.count }} question(s)</p>
    <!-- Button redirects to first question in the quiz -->
    <button class="button" onclick="window.location.href='{% url 'quiz:questions' quiz.id %}';">Start &rarr;</button>
  </body>
</html>