body {
    font-family: 'Outfit';
}

.button {
    background-color: #4b7b76;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}