body {
    /* ensuring user agent asset css isn't used */
    display: block;
    margin: 0;
    font-family: 'Outfit';
    text-size-adjust: auto;
}

.button {
    margin-top: 10px;
    margin-left: 2px;
    cursor: pointer;
    padding: 10px;
    background-color: #4b7b76;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    display: inline-block;
    font-size: 13px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}


h11 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h1 {
    background-color: #77b192;
    margin-top: 0;
    margin-bottom: -10px;
    padding: 20px 20px 20px 10px;
}

p {
    margin-left: 10px;
}

img {
    margin-left: 10px;
}

/* mm1224 */

.centre {
    margin: 8px;
}

.topnav {
    background-color: #77b192;
    overflow: hidden;
    width: 100%;
    max-height: 14%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 20px 41px 20px;
    text-decoration: none;
    font-size: 17;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4b7b76;
    color: white;
}


button[type=submit] {
    background-color: #77b192;
    overflow: hidden;
    border: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 41px 20px 40px 20px;
    text-decoration: none;
    font-size: 17px;
}

button[type=submit]:hover {
    background-color: #ddd;
    color: black;
}
