<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms and Conditions</title>
</head>
<body>
<h1>Terms and Conditions </h1>
<p>These Terms and Conditions ("Terms") govern your use of Sustain-a-Slime ("App"), developed by Ctrl Freaks [Us] ("Developer"). By downloading, installing, or using the App, you agree to be bound by these Terms. If you do not agree to these Terms, do not use the App.</p>
<h2>Definitions</h2>
<ol>
    <li>"User" refers to any person who downloads, installs, or otherwise uses the App</li>
    <li>Content" refers to any text, images, video, audio, or other media available through the App.</li>
</ol>
<h2>License</h2>
<p>Subject to your compliance with these Terms, the Developer grants you a limited, non-exclusive, non-transferable, revocable license to access and use the App for your personal, non-commercial purposes.</p>
<h2>User Conduct</h2>
You agree not to
<ol>
    <li>Use the App for any unlawful or fraudulent purposes.</li>
    <li>Copy, modify, adapt or create derivative works based off of the App.</li>
    <li>Disrupt, overload or otherwise interfere with the regular operations and underlying architecture of the App.</li>
    <li>Attempt to gain access to the App or any associated systems, networks or profiles.</li>
</ol>
<h2>Intellectual Property</h2>
<p>All rights, title, and interest in and to the App, including its Content and any associated intellectual property rights, are the exclusive property of the Developer and its licensors. You may not reproduce, distribute, or create derivative works of the App or its Content without the express written permission of the Developer.</p>
<h2>Disclaimer</h2>
<p>The App is provided "As Is" and "As Available", without warranties of any kind, express or implied, including but not limited to warranties of Merchantability, Fitness for a particular purpose, and Non-infringement. The Developer does not warrant that the App will be uninterrupted, error-free or completely secure.</p>
<h2>Limitation of Liability</h2>
<p>To the maximum extent permitted by applicable law, the Developer shall not be liable for any indirect, incidental, consequential, special or exemplary damages arising out of or in connection with the use of the App, even if advised of the possibility of such damages to occur. In the case that the Developer is liable for such damages, the User waives their right to take action against the Developer if the user takes more than 6 months to inform the Developer of their intent to take action for such damages occurring.</p>
<h2>Governing Law</h2>
<p>These Terms shall be governed in accordance with the laws of England and the United Kingdom, without regard to conflict of legal principle.</p>
<h2>Modifications</h2>
<p>The Developer reserves the right to make modifications to the Terms at any time, under their sole discretion. The Users continued use of the App after such modifications has occurred constitutes their acceptance of such modifications.</p>
<h2>Contact Information</h2>
<p>If you have any concerns or questions about the Terms as listed above, the Developer can be contacted at tw559@exeter.ac.uk</p>
</body>
</html>