body {
    background-color: #bddbd6;
}

/* .container {
    margin: 0;
    padding: 0;
} */

.btn-dark {
    background-color: #4b7b76;
}

.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.main-area {
    position: relative;
    display: block;
    height: fit-content;
    overflow: hidden;
}

.main-area > * {
    position: relative;
    float: left;
}

#floating-islands {
    height: 450px;
    width: 450px;
    background: linear-gradient(#c0c9e9, #bddbd6);
    border-radius: 50%;
    margin: 2vh 4vw;
}

.col-lg-5 {
    flex: none;
    max-width: max-content;
    margin-left: 10vw;
}

@keyframes slime-bounce {
    100% {
        transform: translateY(-70px);
    }
    }

#bouncing-slime {
    z-index: 2;
    position: absolute;
    left: 180px;
    top: 180px;
    height: 180px;
    animation: slime-bounce 2s ease-out infinite alternate;
}