{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
</head>
<div class="topnav">
    <a class="active" href="/homePage">Home</a>
    <a href="/profile">Profile</a></a>
    <a href="#challenges">Challenges</a>
    <a href="#activites">Activites</a>
    <a href="#logout">Log Out</a>
</div>

<body>
    <header>
        <h2><b>Challenges</b></h2>
    </header>
    <p>Check out the challenges currently happening on campus!

    </p>
</body>
<div class="carousel-container">
    <div class="carousel-slide1">
        <img src="{% static 'app/images/recycling.jpg' %}" alt="Recycling">
    </div>
    <div class="carousel-slide2">
        <img src="{% static 'app/images/meals.jpg' %}" alt="Meals">
    </div>
    <div class="carousel-slide3">
        <img src="{% static 'app/images/wed.jpg' %}" alt="wed">
    </div>
    <div class="carousel-slide">4</div>
    <div class="carousel-slide">5</div>
    <div class="carousel-slide">6</div>
</div>
</html>