{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
</head>
<body>
    <header>
        <div class="topnav">
            <a href="{% url 'home' %}">Home</a>
            <a class="active" href="/profile">My Profile</a>
            <a href="{% url 'game_map' %}" class="nav-item nav-link">Activites</a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <!--<a class="nav-item nav-link" href="javascript:$('#frm_logout').submit();">Log Out</a>-->
                <button type="submit">Log Out</button>
            </form>
        </div>
        <!-- css formatted display -mm1224 -->
        <div class="item-a">
            <h2><b>My Profile</b></h2>
        </div>
        <div class="container">
            <div class="item-b">
                <div class="avatar">
                    <img class="avatar colour" src="{{ avatar_data.colour.img_file.url }}" alt="default">
                    <!-- <img class="avatar-outline" src="/images/outline.png"> -->
                    <img class="avatar mouth" src="{{ avatar_data.mouth.img_file.url }}" alt="default">
                    <img class="avatar eyes" src="{{ avatar_data.eyes.img_file.url }}" alt="default">
                    {% if avatar_data.headwear %}
                        <img class="avatar headwear" src="{{ avatar_data.headwear.img_file.url }}" alt="default">
                    {% endif %}
                    {% if avatar_data.accessory %}
                        <img class="avatar accessory" src="{{ avatar_data.accessory.img_file.url }}" alt="default">
                    {% endif %}
                </div>
                <h2><b>
                    <!-- profile data (avatar and points) display -->
                    <!-- <img src="{{ avatar_data.colour.img_file.url }}" alt="default"> -->
                    You currently have {{ profile_data.points_amount }} points!
                </b></h2>
            </div>
            <div class="shop">
                <div class="tab-buttons">
                    <label>
                        <input type="radio" name="tab" class="colour-tab-button" checked="checked"
                               onclick="shop.switchTabAuto('shop-colour-tab')"/>
                        <img src="/images/colour_tab_icon.png">
                    </label>
                    <label>
                        <input type="radio" name="tab" class="mouth-tab-button"
                                onclick="shop.switchTabAuto('shop-mouth-tab')"/>
                        <img src="/images/mouth_tab_icon.png">
                    </label>
                    <label>
                        <input type="radio" name="tab" class="eyes-tab-button"
                               onclick="shop.switchTabAuto('shop-eyes-tab')"/>
                        <img src="/images/eyes_tab_icon.png">
                    </label>
                    <label>
                        <input type="radio" name="tab" class="headwear-tab-button"
                               onclick="shop.switchTabAuto('shop-headwear-tab')"/>
                        <img src="/images/eyes_tab_icon.png">
                    </label>
                    <label>
                        <input type="radio" name="tab" class="accessory-tab-button"
                               onclick="shop.switchTabAuto('shop-accessory-tab')"/>
                        <img src="/images/eyes_tab_icon.png">
                    </label>
                </div>

                <div class="tabs">
                    <div class="colour" id="shop-colour-tab" style="visibility: visible;">
                        {% for item in shop_items.colour %}
                            <img class="item" src="{{ item.img_file.url }}" alt="shop item">
                        {% endfor %}
                    </div>
                    <div class="mouth" id="shop-mouth-tab">
                        {% for item in shop_items.mouth %}
                            <img class="item" src="{{ item.img_file.url }}" alt="shop item">
                        {% endfor %}
                    </div>
                    <div class="eyes" id="shop-eyes-tab">
                        {% for item in shop_items.eyes %}
                            <img class="item" src="{{ item.img_file.url }}" alt="shop item">
                        {% endfor %}
                    </div>
                    <div class="headwear" id="shop-headwear-tab">
                        {% for item in shop_items.headwear %}
                            <img class="item" src="{{ item.img_file.url }}" alt="shop item">
                        {% endfor %}
                    </div>
                    <div class="accessory" id="shop-accessory-tab">
                        {% for item in shop_items.accessory %}
                            <img class="item" src="{{ item.img_file.url }}" alt="shop item">
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <div class="wardrobe">
                <div class="tab-buttons">
                    <label>
                        <input type="radio" name="tab" class="colour-tab-button" checked="checked"
                               onclick="wardrobe.switchTabAuto('wardrobe-colour-tab')"/>
                        <img src="/images/colour_tab_icon.png">
                    </label>
                    <label>
                        <input type="radio" name="tab" class="mouth-tab-button"
                               onclick="wardrobe.switchTabAuto('wardrobe-mouth-tab')"/>
                        <img src="/images/mouth_tab_icon.png">
                    </label>
                    <label>
                        <input type="radio" name="tab" class="eyes-tab-button"
                               onclick="wardrobe.switchTabAuto('wardrobe-eyes-tab')"/>
                        <img src="/images/eyes_tab_icon.png">
                    </label>
                    <label>
                        <input type="radio" name="tab" class="headwear-tab-button"
                               onclick="shop.switchTabAuto('wardrobe-headwear-tab')"/>
                        <img src="/images/eyes_tab_icon.png">
                    </label>
                    <label>
                        <input type="radio" name="tab" class="accessory-tab-button"
                               onclick="shop.switchTabAuto('wardrobe-accessory-tab')"/>
                        <img src="/images/eyes_tab_icon.png">
                    </label>
                </div>

                <div class="tabs">
                    <div class="colour" id="wardrobe-colour-tab" style="visibility: visible;">
                        {% for item in owned_items.colour %}
                            <img class="item" src="{{ item.img_file.url }}" alt="wardrobe item">
                        {% endfor %}
                    </div>
                    <div class="mouth" id="wardrobe-mouth-tab">
                        {% for item in owned_items.mouth %}
                            <img class="item" src="{{ item.img_file.url }}" alt="wardrobe item">
                        {% endfor %}
                    </div>
                    <div class="eyes" id="wardrobe-eyes-tab">
                        {% for item in owned_items.eyes %}
                            <img class="item" src="{{ item.img_file.url }}" alt="wardrobe item">
                        {% endfor %}
                    </div>
                    <div class="headwear" id="wardrobe-headwear-tab">
                        {% for item in owned_items.headwear %}
                            <img class="item" src="{{ item.img_file.url }}" alt="wardrobe item">
                        {% endfor %}
                    </div>
                    <div class="accessory" id="wardrobe-accessory-tab">
                        {% for item in owned_items.accessory %}
                            <img class="item" src="{{ item.img_file.url }}" alt="wardrobe item">
                        {% endfor %}
                    </div>
                </div>
            </div>  
        </div>
    </header>
    <script>
        class TabSwitcher {
            constructor(currentTab) {
                this.currentTab = currentTab;
            }
            switchTabAuto(tab) {
                console.log(tab)
                document.getElementById(this.currentTab).style.visibility = "hidden";
                document.getElementById(tab).style.visibility = "visible";
                this.currentTab = tab;
            }
        }
        let shop = new TabSwitcher("shop-colour-tab");
        let wardrobe = new TabSwitcher("shop-colour-tab");
    </script>
</body>
</html>