{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
</head>
<body>
    <header>
        <div class="topnav">
            <a href="{% url 'home' %}">Home</a>
            <a class="active" href="/profile">My Profile</a>
            <a href="{% url 'game_map' %}" class="nav-item nav-link">Challenges</a>
            <a href="{% url 'qr_scanner' %}" class="nav-item nav-link">QR</a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <!--<a class="nav-item nav-link" href="javascript:$('#frm_logout').submit();">Log Out</a>-->
                <button type="submit">Log Out</button>
            </form>
        </div>
        <h2><b>My Profile</b></h2>
        <p>This is a dummy profile page perhaps
        </p>
        <h2>
            {% for info in data %}
            You current have {{ info.points_amount }} points!
            {% endfor %}
        </h2>
    </header>
</body>
</html>