/*ar919*/
body {
    font-family: "Outfit";
    padding: 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    background-color: #77b192;
    margin-top: 0;
    margin-bottom: -10px;
    padding: 20px 20px 20px 10px;
}

/* note: what is this used for?? */
h2.Side {
    margin-right: 10px;
    float: right;
}

h2 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

img {
    margin-left: 10px;
}

/*mm1224*/
/* Navigation bar styling*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #77b192;
    overflow: hidden;
    width: 100%;
    max-height: 14%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 20px 41px 20px;
    max-height: 15px;
    text-decoration: none;
    font-size: x-small;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4b7b76;
    color: white;
}


button[type=submit] {
    background-color: #77b192;
    overflow: hidden;
    border: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 42px 20px 40px 20px;
    text-decoration: none;
    font-size: x-small;
}

button[type=submit]:hover {
    background-color: #ddd;
    color: black;
}

/* formatting page layout */
.item-b{
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        text-size-adjust: auto;
    }

}

/* zj274 with scaling edits by mm1224*/
.avatar {
    display: grid;
}

.avatar > img {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 90px;
    margin-bottom: -30%;
}

.colour {
    z-index: 1;
}

.mouth {
    z-index: 2;
}

.eyes {
    z-index: 3;
}

.headwear {
    z-index: 4;
}

.accessory {
    z-index: 5;
}

.top3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    justify-content: center;
    align-content: center;
    width: 100%;
    overflow: visible;
    text-align: center;
    font-size: small;
}

.top3 > * {
    float: left;
    flex-shrink: 1;
    margin: 0;
}

.podium {
    text-align: center;
}

.podium > h2 {
    align-self: flex-end;
    font-size: medium;
}

.podium > img {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 20px;
    margin-top: 4%;
    margin-bottom: -15%;
}

#first .podium {
    background-color: #85afed;
    padding-top: 40%;
}

#second .podium {
    background-color: #ed5f77;
    padding-top: 10%;
}

#third .podium {
    background-color: #d1d1d1;
    padding-top: 2%;
}

/* ar919 leaderboard table */
table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid;
    margin: auto;
}

td {
    text-align: center;
}

tr {
    background-color: #ddd;
}
tr:hover {
    background-color: #bddbd6;
}

table, th, td {
    border-bottom: 1px solid #adadad;
}

th {
    background-color: #c0c9e9;
}
