/*ar919*/
body {
    font-family: "Outfit";
    padding: 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    background-color: #77b192;
    margin-top: 0;
    margin-bottom: -10px;
    padding: 20px 20px 20px 10px;
}

h2.Side {
    margin-right: 10px;
    float: right;
}

h2 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

img {
    margin-left: 10px;
}

/*mm1224*/
/* Navigation bar styling*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #77b192;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 20px 40px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4b7b76;
    color: white;
}


button[type=submit] {
    background-color: #77b192;
    overflow: hidden;
    border: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 42px 20px 40px 20px;
    text-decoration: none;
    font-size: 17px;
}

button[type=submit]:hover {
    background-color: #ddd;
    color: black;
}

/* Centralisation for profile page */

/*header*/
.item-a {
    grid-area: head;
}

/*central column*/
.item-b {
    grid-area: main;
    place-self: centre;
    justify-self: center;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    text-align: center;
}

/* zj274 */
.avatar {
    display: grid;
}

.avatar > img {
    grid-row-start: 1;
    grid-column-start: 1;
}

.colour {
    z-index: 1;
}

.mouth {
    z-index: 2;
}

.eyes {
    z-index: 3;
}

.headwear {
    z-index: 4;
}

.accessory {
    z-index: 5;
}

.shop {
    position: relative;
    grid-area: sideLt;
    align-self: centre;
    justify-self: center; 
    display: block; 
    margin-left: 20px;
    height: 382px;
    width: 350px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

[type=radio] + img {
    cursor: pointer;
}

[type=radio]:disabled + img {
    cursor: default;
}

.tab-buttons {
    display: block;
    height: 32px;
    width: 350px;
}

.tab-buttons > * {
    float: left;
    height: 32px;
    margin: 0;
}

.tab-buttons [type=radio] + img {
    background-color: #aaa;
    border-radius: 6px 6px 0 0;
    padding: 0 19px;
    margin: 0;
}

.tab-buttons [type=radio]:checked + img {
    background-color: #4b7b76;
}

.tabs {
    display: grid;
    background-color: #f7f7f7;
    border-radius: 0 0 6px 6px;
}

.tabs > * {
    grid-row-start: 1;
    grid-column-start: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    height: 350px;
    width: 350px;  
}

.tabs > :first-child {
    visibility: visible;
}

.item {
    background-color: #f7f7f7;
    border-radius: 6px;
    text-align: center;
    padding: 0;
}

.item > [type=radio] + img {
    /* background-color: #ddd; */
    border: 2px solid #f2f2f2;
    border-radius: 6px;
    padding: 0 5px;
    margin: 0;
    height: 95px;
}

.item > [type=radio]:checked + img {
    border:2px solid #29Ab87;
}

.owned::after {
    content: "Owned!";
}

.unowned::after {
    content: "$100";
}

#shop-popup {
    position: relative;
    bottom: 86%;
    left: 18%;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 60%;
    background-color: white;
    border-radius: 4px;
}

#shop-popup button {
    cursor: pointer;
}

#shop-popup .top-banner {
    display: block;
    height: 28px;
    width: 100%;
    background-color: #77b192;
    border-radius: 4px 4px 0 0;
}

#shop-popup > * {
    margin: 0 auto 0 auto;
}

#shop-popup .top-banner > button {
    float: right;
}

#shop-popup img {
    height: 180px;
    margin-top: -20%;
    /* border: 2px solid #aaa; */
}

/* end zj274 */

/*container for grid*/
.container {
    display: grid;
    grid-template-columns: [c1] 1fr [c2] 2fr [c3] 1fr;
    grid-template-rows: [r1] 50px [r2] 1fr [r3] 1fr;

    grid-template-areas: 
    "head head head"
    "sideLt main sideRt"
    "sideLb main sideRb";
}

  /*ar919*/
.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-slide {
    flex: 1 0 30%;
    scroll-snap-align: center;
}


@media (max-width: 600px) {
    .carousel-slide {
        flex: 1 0 90%;
    }
}

.carousel-container::-webkit-scrollbar {
    height: 8px;
}

.carousel-container::-webkit-scrollbar-thumb {
    background: #29Ab87;
}

.carousel-container::-webkit-scrollbar-track {
    background: #b1b3b399;
}

.carousel-container::-webkit-scrollbar-track-piece:start {
    background: #29ab87;
}
