body {
    font-family: "Outfit";
    padding: 0px;
    margin: 0px 0px 0px 0px;
    background-color: #cbe7e4;
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
    color: #4b7b76;
} 

a:hover { 
    text-decoration: none; 
}

a:active { 
    text-decoration: none; 
}

h1 {
    background-color: #77b192;
    margin-top: 0;
    margin-bottom: -10px;
    padding: 20px 20px 20px 10px;
}

h2.Side {
    margin-right: 10px;
    float: right;
}

h2 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

img {
    margin-left: 10px;
}

.topnav {
    background-color: #312621;
    overflow: hidden;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #77b192;
    color: white;
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-slide {
    flex: 1 0 30%;
    scroll-snap-align: center;
}

@media (max-width: 600px) {
    .carousel-slide {
        flex: 1 0 90%;
    }
}

.carousel-container::-webkit-scrollbar {
    height: 8px;
}

.carousel-container::-webkit-scrollbar-thumb {
    background: #29Ab87;
}

.carousel-container::-webkit-scrollbar-track {
    background: #b1b3b399;
}

.carousel-container::-webkit-scrollbar-track-piece:start {
    background: #29ab87;
}